.NavReview{
    width:500px;
    height:1000px;
    .navReviewrepl{
        margin-top:30px;
        height:65px;
        border-bottom: 1px solid #c2bdbd;
        &:hover{
            cursor: pointer;
        }
        .navReviewrepl1{
            margin-left:10px;
            .subject{
                font-size:18px;
                color:rgb(109, 39, 39);
                margin-bottom:7px;
            }
            .writer{
                .writerspan{
                    font-weight:bold;
                }
            }
        }
    }
    .NavReviewSearch{
        display: flex;
        margin-top:100px;
        margin-left:20px;
    }
    button{
        border: 3px solid black;
        margin-left:10px;
        width:55px;
        height:55px;
        border-radius:2px;
    }
    button:hover{
        animation-name: fadeInnz;
        animation-duration: 0.5s;
        background-color: #1a1919;
        cursor: pointer;
        @keyframes fadeInnz {
            from { background-color:white }
            to   { background-color:black; }
        }
    }
    // .monthly-icecream-on {
    //     animation-name: fadeInn;
    //     animation-duration: 10s;
    //     animation-delay: 2s;
    //     animation-fill-mode: forwards;
        // @keyframes fadeInn {
        //     from { opacity: 0; }
        //     to   { opacity: 1; }
        // }
    // }

    input{
        font-size:20px;
        width:350px;
        height:50px;
        &:focus{
            outline:none;
        }
    }
}