@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.main-content {
  padding: 10px;
  &-p {
    font-size: 12px;
    color: #929292;
    padding: 6px 0;
  }
  &_contents {
    display: flex;
    font-weight: bold;
    padding-bottom: 8px;
    & strong {
      font-weight: bold;
      padding: 2px 0;
      font-size: 20px;
      width: 230px;
      p {
        font-weight: bold;
      }
    }
  }
  .text {
    margin: 29px 2px 1px 34px;
  }
  &_second-productslider {
    &_content {
      display: flex;
    }
    & h2 {
      font-weight: bold;
    }
  }
  &-span {
    font-size: 12px;
    color: #929292;
    padding: 3px;
    margin-left: 8px;
  }
  &-review-title {
    & h4 {
      color: #929292;
    }
    & h1 {
      font-weight: bold;
      font-size: 20px;
    }
  }
  &-review-buttons {
    &-review-best {
    }
  }
  &-button-slider {
    width: auto;
    margin: 10px 1px 11px;
  }
  &-recommended-buttons {
  }
  & button {
    width: 171px;
    height: 43px;
    padding: 14px;
    font-size: 14px;
    padding: 10px 14px 12px;
    border-radius: 30px;
    line-height: 1;
  }
  img {
    width: 100%;
  }
  ul.productList {
    display: flex;
    flex-wrap: wrap;
  }

  .product-item {
    flex: 0 1 50%;
  }
  .product-items_Card {
    .parent {
      margin: 4px 9px 0px 0px;
      overflow: hidden;
    }
    & img {
      width: 100%;
      height: 100%;
      &:hover {
        transform: scale(1.2);
        cursor: pointer;
      }
    }
  }

  button.slick-arrow.slick-next {
    right: 0;
    top: 28%;
    width: 48px;
    &:before {
      font-family: 'slick';
      line-height: 1;
      opacity: 0.75;
      color: white;
      -webkit-font-smoothing: antialiased;
      font-size: 31px;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  .recomend {
    margin: 10px;
  }
  .recommend-product-item {
    flex: 1 29%;
  }

  .today {
    display: flex;
    & img {
      width: 100px;
    }
  }
}
