.findidcontainer {
  margin: 0 auto;
  margin-top: 50px;
  width: 420px;
  height: 356px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //   align-items: center;
  //   background-color: green;
  .findidh1div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  .findidsubcontainer {
    margin: 0 auto;
    padding: 40px 0px;
  }

  .findidh1 {
    font-size: 18px;
    height: 25px;
    text-align: center;
    position: relative;
    font-weight: bold;
  }

  .findidname {
    width: 320px;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 24px;
    padding: 0px 8px;
    font-size: 16px;
  }
  .findidmobilenum {
    width: 320px;
    height: 50px;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 24px;
    padding: 0px 8px;
    font-size: 16px;
  }
  .findidbtn {
    width: 100%;
    color: white;
    background-color: rgb(255, 87, 51);
    border: none;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 14px;
  }
}
