@import 'reset.scss';
@import 'layout.scss';
$mobile: 'only screen and (max-width: 420px)';

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  font-family: 'Spoqa Han Sans Regular', 'Spoqa Han Sans Bold',
    'Spoqa Han Sans Light', 'Spoqa Han Sans Thin', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

table {
  border-top: 3px solid #373737;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  letter-spacing: -0.6px;
  text-align: center;
  vertical-align: middle;
  color: #4b4b4b;
  border: 1px solid #d3d3d3;
}

@media #{$mobile} {
  .section-left {
    display: none;
  }

  .section-right {
    width: 100%;
  }
}

a {
  text-decoration: none;
}
