.texttop {
  font-size: 16px;
}

.signupemailtxt {
  font-size: 14px;
}

.kakaologinbtn {
  width: 378px;
  height: 38px;
  margin-bottom: 16px;
  border: none;
  box-shadow: none;
  border-bottom-width: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #929292;
  border: 1px solid #ebebeb;
  cursor: pointer;
  letter-spacing: -0.06em;
  font-size: 14px;
}

.inputemail {
}
