.signupdiv {
  margin: 0 auto;
  margin-top: 80px;
}
.signupsection {
  width: 380px;
  padding: 78px 20px 28px 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signuptoptxt {
  letter-spacing: -0.03rem;
}

.texttop {
  font-size: 16px;
  text-align: left;
  width: 100%;
  margin-bottom: 16px;
}

.sectionupper {
  width: 380px;
  margin-top: 44px;
  margin-bottom: 20px;
  div {
    div {
      input {
        position: relative;
        width: 364px;
        height: 38px;
        margin-bottom: 8px;
        padding: 0px 8px;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid #ebebeb;
        letter-spacing: -0.06rem;
      }
      input.phonenum {
        width: 250px;
      }
      input.inputpost {
        width: 100px;
      }
      input.authennuminput {
        color: grey;
        width: 250px;
        margin-bottom: 8px;
        padding: 0px 8px;
        text-align: left;
      }
    }
  }
}

.authennumwrap {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.toauthenbtn {
  color: white;
  font-weight: 500;
  border: none;
  background-color: #c5c3c3;
  margin: 0px 0px 8px 12px;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.signupemailtxt {
  font-size: 16px;
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 16px;
  letter-spacing: -0.03rem;
}

.kakaologinbtn {
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  border: none;
  box-shadow: none;
  border-bottom-width: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #929292;
  border: 1px solid #ebebeb;
  cursor: pointer;
  letter-spacing: -0.06em;
  font-size: 14px;
}

.emailformfalse {
  font-size: 12px;
  color: #ff731d;
  letter-spacing: -0.06rem;
  padding-bottom: 10px;
}

.passwordformfalse {
  font-size: 12px;
  color: #ff731d;
  letter-spacing: -0.06rem;
  padding-bottom: 10px;
}

.inputpwcheckfalse {
  font-size: 12px;
  color: #ff731d;
  letter-spacing: -0.06rem;
  padding-bottom: 10px;
}

.authenbtn {
  color: white;
  font-weight: 500;
  border: none;
  background-color: #c5c3c3;
  margin-bottom: 8px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  padding: 1px 6px;
  margin-left: 12px;
}

.postaddwrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.inputpostwrap {
  width: 90px;
}

.inputaddwrap {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.phoneauthenwrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.phonenumfalse {
  font-size: 12px;
  color: #ff731d;
  letter-spacing: -0.06rem;
  padding-bottom: 10px;
}

.under14txt {
  width: 100%;
  font-size: 12px;
  color: #929292;
  letter-spacing: -0.06rem;
  padding-left: 8px;
}
.articlelist {
  list-style-type: none;
}

.articleagree {
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  letter-spacing: -0.06rem;
  align-items: center;
}

.agreemust {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.articleagreebtn {
  border: none;
  background-color: white;
}

.personalagreebtn {
  border: none;
  background-color: white;
}

.agreewrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contentsee {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.h1font1 {
  font-size: 14px;
  padding: 8px 0px 8px 8px;
  letter-spacing: -0.06rem;
}

.sectionbottom {
  margin-top: 44px;
  margin-bottom: 20px;
}

.signup {
  width: 380px;
  height: 40px;
  padding: 1px 1px;
  border: none;
  background-color: rgba(255, 115, 29, 0.4);
  color: white;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
}

.signupact {
  width: 380px;
  height: 40px;
  padding: 1px 6px;
  border: none;
  background-color: rgb(255, 115, 29);
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.articlewrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.agreecheckbox {
  border: none;
  background-color: white;
  color: white;
  width: 20px;
  height: 18px;
  border-radius: 100px;
  margin-right: 8px;
  border: 1px solid #d2d2d2;
  display: flex;
}

.agreediv {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  color: white;
  width: 28px;
  height: 20px;
  overflow: hidden;
}

.agreespan {
  background-color: white;
  color: white;
  width: 20px;
  height: 18px;
  border-radius: 100px;
  margin-right: 8px;
  border: 1px solid #d2d2d2;
}

.agreespanact {
  background-color: white;
  color: white;
  width: 20px;
  height: 18px;
  border-radius: 100px;
  margin-right: 8px;
  border: 1px solid #d2d2d2;
}

.agreeinput {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  width: 12px;
  height: 12px;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
  visibility: hidden;
}

.articleagreebtn {
  color: #929292;
  font-size: 12px;
  text-decoration: underline;
}

.DaumApiButton {
  background-color: #ff731d;
  border-radius: 50px;
  width: 10px;
  height: 13px;
  text-align: center;
  border: none;
  margin-bottom: 8px;
  margin-right: 2px;
}

.popup14txtbtn {
  border: none;
  background: #c5c3c3;
  color: white;
  border-radius: 50%;
  font-size: 12px;
}

.popup14div {
  width: 380px;
  height: 180px;
  position: relative;
  font-size: 10px;
  letter-spacing: -0.03rem;
  margin-top: 20px;
}

.popup14subdiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.popup14divbtn {
  width: 40px;
  height: 25px;
  font-size: 10px;
  border: none;
  border-radius: 50%;
  color: white;
  font-weight: 500;
}
