@charset "UTF-8";

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

$thin: 'Spoqa Han Sans Thin';
$light: 'Spoqa Han Sans Light';
$regular: 'Spoqa Han Sans Regular';
$bold: 'Spoqa Han Sans Bold';
$orange: 'orange';

.star-on {
  color: orange;
}

.star {
  color: #d3d3d3;
}

.detail-product {
  letter-spacing: -0.6px;

  &__main-slider {
    padding-top: 120px;

    div {
      width: 100%;
      height: auto;

      img {
        width: 100%;
        height: auto;
      }
    }

    .slick-dots {
      bottom: 5px;

      .slick-active button {
        background-color: #ff7826;
        border: 1px solid #ff7826;
      }

      button {
        width: 13px;
        height: 13px;
        border: 1px solid #fff;
        border-radius: 50%;

        &:before {
          display: none;
        }
      }
    }
  }

  &__info {
    margin: 10px;
    color: #373737;

    &__strapline {
      font-size: 18px;
      color: #373737;
      letter-spacing: -0.3px;
      font-family: $regular;
      font-weight: 500;
    }

    &__title {
      margin-bottom: 15px;
      font-size: 25px;
      font-family: $light;
      font-weight: 500;
      letter-spacing: -0.5px;
      line-height: 36px;
    }

    &__num {
      font-size: 24px;
      font-family: $bold;
      letter-spacing: -0.3px;
    }

    &__star {
      margin-left: 4px;
      font-size: 18px;
      font-weight: 600;

      i {
        margin-right: 6px;
        vertical-align: bottom;
      }
    }

    &__review-num {
      font-size: 20px;
      color: #b7b7b7;
      outline: 0;
      border: 0;
    }
  }

  /*detail-product__info*/

  &__notice {
    margin: 40px 10px 0;
    padding: 20px 0;
    font-style: normal;
    color: #929292;
    border: 1px solid #dedede;
    border-left: 0;
    border-right: 0;

    ul {
      margin-bottom: 15px;
    }

    li {
      display: flex;
      justify-content: flex-start;
    }

    li > em,
    li > p {
      width: 18%;
      font-style: normal;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: -0.6px;
    }

    li > p {
      width: calc(100% - 18%);
    }

    &__recomm {
      width: 100%;
      font-size: 12px;
      font-family: $light;
      font-weight: 600;
      letter-spacing: -0.4px;
    }
  }

  /*detail-product__notice*/

  &__cart {
    margin: 0 10px;
    padding-top: 30px;

    &__select-products {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 6px;
    }

    &__title {
      display: block;
      width: 18%;
      font-style: normal;
      font-size: 15px;
    }

    &__select-box {
      position: relative;
      width: calc(100% - 18%);
    }

    &__arrow {
      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -11.5px;
      color: #929292;
    }

    &__select {
      width: 100%;
      height: 54px;
      padding: 10px 15px;
      font-size: 14px;
      background: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 1px solid #ebebeb;
    }

    &__button {
      width: 100%;
      padding: 15px 0;
      color: #fff;
      font-size: 15px;
      background-color: #ff7826;
      font-weight: 600;
      border-radius: 30px;
      outline: 0;
      cursor: pointer;
    }
  }

  /*detail-product__cart*/

  &__together {
    margin-top: 30px;

    h3 {
      margin: 10px 0;
      text-align: left;
      font-size: 20px;
      font-family: $bold;
      letter-spacing: -0.6px;
    }

    &__title {
      margin-bottom: 20px;

      span {
        display: inline-block;
        padding: 12px 20px 10px;
        letter-spacing: -0.6px;
        font-size: 17px;
        font-family: $light;
        font-weight: 600;
        color: #fff;
        background-color: #343434;
        border-radius: 30px;
      }
    }

    li {
      margin-bottom: 15px;
    }

    .checkbox-v1 {
      display: none;

      &:checked + .checkbox-v1-label > i {
        background-color: #e15e1d;
        border: 1px solid #e15e1d;

        &:after {
          border: 3px solid #fff;
          border-top: 0;
          border-left: 0;
        }
      }
    }

    .checkbox-v1-label {
      &:after {
        display: block;
        clear: both;
        content: '';
      }

      &__icon {
        display: block;
        position: relative;
        float: left;
        width: 18px;
        height: 18px;
        margin: 32px 10px 32px 0;
        background-color: #f9f9f9;
        border: 1px solid #929292;
        border-radius: 4px;

        &:after {
          display: block;
          width: 4px;
          height: 10px;
          position: absolute;
          left: calc(50% - 4px);
          top: calc(50% - 9px);
          transform: rotate(45deg);
          content: '';
        }
      }

      &__plan-img {
        overflow: hidden;
        float: left;
        width: 90px;
        height: 90px;
        margin-right: 15px;
        border-radius: 20px;

        img {
          width: 100%;
          height: auto;
        }
      }

      &__title {
        display: block;
        overflow: hidden;
        float: left;
        width: calc(100% - 155px);
        height: 50px;
        margin-bottom: 10px;
        font-style: normal;
        font-size: 17px;
        letter-spacing: -0.6px;
      }

      &__price {
        float: left;
        font-size: 18px;

        span {
          font-family: $bold;
        }
      }
    }

    &__total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      border-top: 1px solid #d8d8d8;

      &__title {
        display: inline-block;
        margin-top: 5px;
        font-style: normal;
        font-size: 17px;
        font-family: $light;
        font-weight: 600;
        letter-spacing: -0.6px;
        color: #929292;
      }

      &__price {
        margin-left: 12px;
        margin-right: auto;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: -0.6px;
        color: #3c3c3c;

        span {
          font-size: 25px;
          font-family: $bold;
        }
      }

      &__button {
        padding: 14px 24px;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        background-color: #ff7826;
        border: 0;
        outline: 0;
        border-radius: 12.5px;
      }
    }
  }

  &__sub-slider {
    margin: 35px 10px 0;

    h3 {
      margin-bottom: 10px;
      color: #201f1a;
      text-align: left;
      font-size: 20px;
      font-weight: 600;
      font-family: $light;
      letter-spacing: -0.6px;
    }

    .slick-list {
      padding: 0 !important;
    }

    .slick-arrow.slick-next {
      top: 50%;
      right: 0;
      width: 30px;
      height: 40px;
      margin-top: -35px;
      background: rgba(55, 55, 55, 0.3);
    }

    .slick-next:before {
      position: absolute;
      top: 50%;
      right: 9px;
      margin-top: -12px;
      content: '>';
      font-weight: 900;
    }

    /*<*/

    &__slide {
      overflow: hidden;
      width: 145px !important;
    }

    &__img {
      height: 188px;

      img {
        width: auto;
        height: 100%;
      }
    }

    &__title {
      display: block;
      margin-top: 10px;
      font-style: normal;
      letter-spacing: -0.6px;
      color: #373737;
    }

    &__price {
      display: block;

      span {
        letter-spacing: -0.6px;
        font-weight: 600;
        font-family: $light;
        font-size: 18px;
        color: #373737;
      }
    }

    &__review-num {
      font-size: 14px;

      .star-on {
        margin-top: 5px;
        margin-right: 4px;
        vertical-align: middle;
      }
    }

    &__review-count {
      display: inline-block;
      margin-left: 4px;
      font-size: 15px;
      color: #b7b7b7;
      letter-spacing: -0.6px;
    }
  }

  /*detail-product__sub-slider*/

  &__tab {
    margin: 20px 0;

    ul {
      display: flex;
      justify-content: space-between;
      height: 36px;
      align-content: center;
    }

    li {
      width: 25%;
      height: 100%;
    }

    button {
      width: 100%;
      height: 100%;
      font-size: 15px;
      color: #929292;
      font-weight: 600;
      letter-spacing: -0.4px;
      border: 0;
      outline: 0;
      cursor: pointer;

      &:hover {
        color: #ff7826;
      }
    }
  }

  /*detail-product__tab*/

  &__cont {
    &__detail {
      img {
        width: 100%;
        height: auto;
      }
    }

    &__review {
      li {
        padding-bottom: 50px;
      }

      &__title {
        font-style: normal;
        display: block;
        letter-spacing: -0.6px;
        font-size: 20px;
        font-weight: 500;
        font-family: $light;
      }

      &__user {
        display: block;
        margin: 10px 0;
        font-size: 19px;
        font-family: $bold;
        font-weight: 600;
        letter-spacing: -0.6px;
      }

      &__cont {
        margin-top: 25px;
        letter-spacing: -0.6px;
        font-weight: 500;
        font-family: 'Spoqa Han Sans Light';
        font-size: 18px;
        white-space: pre-line;
      }

      &__img {
        margin-top: 25px;
        overflow: hidden;
        width: 80px;
        height: 80px;

        img {
          width: auto;
          height: 100%;
        }
      }

      &__page-list {
        display: flex;
        justify-content: center;

        button {
          font-size: 18px;
          color: #747474;
          border: 0;
          outline: 0;
        }
      }
    }

    &__qna {
      text-align: center;

      p,
      span {
        color: #373737;
        letter-spacing: -0.6px;
        font-weight: 500;
        font-size: 19px;
        font-family: $light;
      }

      p {
        margin: 35px 0;
      }

      span {
        display: block;
      }

      &__katalk {
        display: inline-block;
        width: 220px;
        height: 50px;
        font-family: $bold;
        line-height: 50px;
        letter-spacing: -0.8px;
        font-weight: 800;
        font-size: 19px;
        text-decoration: none;
        color: #3c1e1e;
        background-color: #f7e317;
        background-image: url('../../images/kakao-plus.png');
        background-repeat: no-repeat;
        background-size: 40px auto;
        background-position: 7px center;
        border-radius: 30px;
      }
    }

    &__delivery {
      h3 {
        margin-bottom: 15px;
        text-align: left;
        font-weight: 600;
        letter-spacing: -0.6px;
        font-size: 20px;
      }

      th,
      td {
        font-family: $light;
        font-size: 17px;
        font-weight: 600;
      }

      span {
        letter-spacing: -0.6px;
        font-family: $light;
        font-size: 17px;
        font-weight: 600;
        color: #4b4b4b;
      }

      dt {
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 600;
        font-family: $bold;
        letter-spacing: -0.6px;
        color: #111;
      }

      &__title {
        margin-top: 60px;

        h3 {
          margin-bottom: 5px;
          font-family: $bold;
          color: #373737;
        }

        p {
          margin: 20px 0;
          color: #838383;
          font-size: 20px;
          letter-spacing: -0.6px;
          font-family: $light;
        }
      }

      &__q {
        margin-bottom: 20px;

        dd {
          font-size: 17px;
          letter-spacing: -0.6px;
        }
      }

      &__complete {
        dt {
          margin-bottom: -10px;
        }

        em {
          display: block;
          margin: 15px 0 10px;
          font-style: normal;
          font-family: $bold;
          font-size: 18px;
          letter-spacing: -0.6px;
        }

        p {
          letter-spacing: -0.6px;
          font-size: 17px;
        }
      }

      &__center {
        margin: 30px 0 60px;

        &__tel {
          color: #ff7826;
          font-weight: 600;
          font-size: 17px;
          letter-spacing: -0.6px;
          text-decoration: none;
        }

        p {
          margin: 10px 0;
          letter-spacing: -0.6px;
          font-size: 20px;
          font-weight: 500;
          color: #838383;
        }

        &__katalk,
        &__one-to-one {
          color: #ff7826;
          font-family: $light;
          font-weight: 600;
          font-size: 17px;
          letter-spacing: -0.6px;
          text-decoration: none;
        }

        &__one-to-one {
          display: inline-block;
          margin-top: 15px;
        }
      }
    }
  }

  /*detail-product__cont*/
}
